<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>{{acsName}}</mat-card-title>
        <mat-card-subtitle>{{acsCode}}</mat-card-subtitle>
        <img mat-card-xl-image
            src="https://sm.ign.com/t/ign_br/screenshot/default/best-naruto-characters_spvx.1200.jpg">
    </mat-card-title-group>
    <mat-card-content>
        {{acsData}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>EDITAR INFORMAÇÕES</button>
    </mat-card-actions>
</mat-card>