<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_circle</mat-icon>
            Meus dados
        </ng-template>
        <app-acs-data></app-acs-data>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">add_alert</mat-icon>
            Novas solicitações
        </ng-template>
        <app-home-options></app-home-options>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">calendar_today</mat-icon>
            Calendário da semana
        </ng-template>
        <app-week-calendar></app-week-calendar>
    </mat-tab>
</mat-tab-group>