<button mat-raised-button color="primary" (click)="confirmAllSuggestions()">
  Confirmar todos
</button>
<button mat-raised-button color="warn" (click)="cancelAllSuggestions()">
  Cancelar todos
</button>
<div class="container" *ngFor="let patient of dataSource">
  <mat-card class="example-card">
    <mat-card-content
      ><h2>Nome: {{ patient.name }}</h2>
      <h3>SUS: {{ patient.sus }}</h3>
      <p><strong>Atendimento:</strong> {{ patient.service }}</p>
      <p><strong>Posição na fila:</strong> {{ patient.queuePosition }}</p>
      <p><strong>Atendimento:</strong> {{ patient.appointment }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Confirmar</button>
      <button color="warn" mat-raised-button>Editar</button>
    </mat-card-actions>
  </mat-card>
</div>
